#ignore files and directories

.DS_*
[Bb]in/
[Oo]bj/
*.user
*.userprefs
*.suo
obj
bin
test-results
_UpgradeReport_Files
UpgradeLog.*
*.sln.cache
*.usertasks
*.pidb
*.swp
*.nib
*.pfx
.idea/
__pycache__/
*.pyc

/MomServer/nbproject/private/

/MomServer/dist/
/MomServer/build/
*.html

